

#define SETTING_WIFI_SSID "YOUR_WIFI_SSID"
#define SETTING_WIFI_PASSWORD "YOUR_WIFI_PASSWORD"
#define SETTING_WATERGATE_HOSTNAME "your-watergate-hostname-or-ip"
#define SETTING_BUTTON_ON_PIN (15)
#define SETTING_BUTTON_OFF_PIN (17)